@model MercuryHealth.Web.Models.Exercises

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exercises</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseTime" class="control-label"></label>
                <input asp-for="ExerciseTime" class="form-control" />
                <span asp-validation-for="ExerciseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusclesInvolved" class="control-label"></label>
                <input asp-for="MusclesInvolved" class="form-control" />
                <span asp-validation-for="MusclesInvolved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label"></label>
                <input asp-for="Equipment" class="form-control" />
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" id="button_back">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
