@{
    ViewData["Title"] = "Metrics Dashboard";
}

<h2>
    Welcome to the new and sleek Metrics Dashboard page (Preview).
</h2>

<img src="~/css/Mercury Health Metrics Dashboard-3.png" alt="" height="650" width="857">

