<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="browserType" value="chrome" />
    <Parameter name="webAppUrl" value="https://website-4vwxkvpofrtbq-dev.azurewebsites.net/" />
  </TestRunParameters>

</RunSettings>
