<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
	  <Parameter name="webAppUrl" value="WebSiteUrlHere" />
	  <!--<Parameter name="webAppUrl" value="https://app-fq3ruuhxgjony.azurewebsites.net/" />-->
	  <Parameter name="browserType" value="chrome" />
	  <Parameter name="DefaultTimeout" value="100000" />
  </TestRunParameters>
</RunSettings>
